* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FFF;
  font-family: 'Montserrat', serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #000;
  position: relative;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

::-moz-selection {
  text-shadow: none;
  background: #fed136;
}

::selection {
  text-shadow: none;
  background: #fed136;
}

input,
button,
textarea,
select {
  outline: none !important;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
}

section {
  padding: 110px 0;
  min-height: 100vh;
}

.title {
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 700;
  color: #2b2b2b;
  text-align: center;
  position: relative;
  font-family: 'Fira Code', monospace;
}

.title span {
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 45px;
  height: 5px;
  border-radius: 2.5px;
  background: #ee4d45;
}

.title:after {
  content: "";
  display: block;
  width: 170px;
  height: 2px;
  background: #2b2b2b;
  margin: 15px auto;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin-bottom: 40px;
}

.typed-text {
  font-weight: 600;
  color: #dd7732;
}

.cursor.typing {
  -webkit-animation: none;
  animation: none;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  margin-left: 0.1rem;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

.fixed-top {
  position: fixed !important;
  top: 0 !important;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.error {
  border: 1px solid red !important;
}

.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 99999999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(204, 204, 204, 0.7);
  border-radius: 50%;
}

.arrow-up .fa {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #4D4D4D;
  -webkit-transition: color 0.6s ease-in-out;
  -o-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}

.arrow-up .fa:hover {
  color: #000;
}

.header {
  padding: 10px 0;
  background: #F0F0F0;
  font-family: 'Fira Code', monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .nav .logo .fa {
  font-size: 30px;
  color: #2b2b2b;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.header .nav-menu__link {
  font-size: 16px;
  color: #2b2b2b;
  font-weight: 500;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 10px 20px;
  border-radius: 20px;
}

.header .nav-menu__link_active {
  display: block;
  width: 100%;
  background: #4D4D4D;
  font-weight: 600;
  color: #FFF;
}

.header .nav-menu.active {
  display: block;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  z-index: 9999;
  padding: 20px 30px;
}

.header-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  position: relative;
}

.header-toggle span {
  width: 100%;
  height: 2px;
  background: #2b2b2b;
  position: absolute;
  top: 20px !important;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header-toggle span:nth-child(1) {
  top: 8px !important;
}

.header-toggle span:nth-child(2),
.header-toggle span:nth-child(3) {
  top: 20px  !important;
}

.header-toggle span:nth-child(4) {
  top: 32px !important;
}

.header-toggle.active span:nth-child(1),
.header-toggle.active span:nth-child(4) {
  left: 50%;
  width: 0;
  top: 6px;
}

.header-toggle.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.intro {
  width: 100%;
  min-height: 100vh;
  position: relative !important;
  padding: 200px 0;
  background-image: url("../img/intro-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 40px;
  z-index: 2;
}

.intro-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.intro-socials a {
  font-size: 35px;
  color: #FFF;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.intro-socials a:hover {
  color: #837f7f;
}

.intro__content {
  max-width: 600px;
  color: #FFF;
  z-index: 3;
}

.intro__name {
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 35px;
  font-weight: 600;
  font-style: italic;
}

.intro__name span {
  display: block;
}

.intro__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 40px;
  font-family: 'Fira Code', monospace;
}

.intro__text {
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.about {
  background: #F0F0F0;
}

.about .title {
  margin-bottom: 50px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47%;
}

.about-items__blogs {
  width: 100%;
}

.about-items__blogs p {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  font-style: italic;
}

.about-items__blogs p span {
  display: block;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
}

.about-skils {
  width: 47%;
  text-align: center;
}

.about-skils h2 {
  font-family: 'Fira Code', monospace;
  font-size: 28px;
  font-weight: 600;
}

.about-skils__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.about-menu li {
  font-family: 'Fira Code', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-menu li:hover {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.about-menu li img {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.portfolio {
  width: 100%;
  background: #fff;
}

.portfolio .title {
  margin-bottom: 30px;
}

.portfolio .subtitle {
  margin-bottom: 80px;
}

.portfolio-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.portfolio-items__blogs {
  max-width: 350px !important;
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}

.portfolio-items__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.portfolio-items__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.portfolio-items__overlay:hover {
  opacity: 1;
}

.portfolio-items__overlay a {
  color: #FFF;
  text-align: center;
}

.portfolio-items__overlay .fa {
  font-size: 25px;
}

.portfolio-items__overlay .name {
  font-size: 20px;
  color: #dd7732;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.portfolio-items__overlay .link {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.portfolio .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.portfolio .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio .slick-dots button {
  width: 15px;
  height: 15px;
  background: transparent;
  font-size: 0;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid #6d6dbd;
  cursor: pointer;
}

.portfolio .slick-dots .slick-active button {
  background: #6d6dbd;
}

.contacts {
  position: relative;
  background: url("../img/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contacts .title {
  color: #FFF;
}

.contacts .title:after {
  background: #FFF;
}

.contacts .subtitle {
  color: #FFF;
  font-weight: 500;
  position: relative;
  margin-bottom: 60px;
}

.contacts-wrapper {
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-items {
  width: 47%;
  z-index: 9999;
}

.contacts-items__title {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 18px;
}

.contacts-items__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-items__form input,
.contacts-items__form textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(243, 243, 243, 0.5);
  outline: none;
  border: none;
  color: #2b2b2b;
  font-size: 14px;
}

.contacts-items__form textarea {
  min-height: 200px;
  resize: none;
}

.contacts-items__form input::-webkit-input-placeholder,
.contacts-items__form textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.contacts-items__form input::-moz-placeholder,
.contacts-items__form textarea::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.contacts-items__form input:-ms-input-placeholder,
.contacts-items__form textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.contacts-items__form input::-ms-input-placeholder,
.contacts-items__form textarea::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.contacts-items__form input::placeholder,
.contacts-items__form textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.contacts-items__form button {
  border: none;
  background: #ee4d45;
  color: #FFF;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contacts-items__form button:hover {
  background: #dd3027;
  color: #ccc;
}

.contacts-items__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-items__socials a {
  font-size: 30px;
  color: #FFF;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contacts-items__socials a:hover {
  color: #6d6dbd;
}

.contacts-items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contacts-items ul li .fa {
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.contacts-items ul li a {
  font-size: 16px;
  color: #FFF;
}

.contacts-items ul li a span {
  display: block;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  font-weight: 700;
}

.contacts-items ul li a span:hover {
  color: #6d6dbd;
}

footer {
  background: #F0F0F0;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #2b2b2b;
  font-weight: 300;
}

@media (max-width: 1199.98px) {
  .portfolio-items {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .portfolio .slick-slide {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media (max-width: 991.98px) {
  .arrow-up {
    right: 30px;
    bottom: 30px;
  }

  .header .nav-menu {
    display: none;
  }

  .header .nav-menu__list {
    margin: 15px 0;
  }

  .header-toggle {
    display: block;
  }

  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-items {
    width: 100%;
  }

  .about-items__blogs {
    margin-bottom: 30px;
  }

  .about-skils {
    width: 100%;
  }

  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts-items {
    width: 100%;
  }

  .contacts-items__form {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  section {
    padding: 50px 0;
  }

  .about {
    padding: 70px 0;
  }

  .about .title {
    margin-top: 0;
  }
}

@media (max-width: 575.98px) {
  .intro-socials a {
    font-size: 30px;
  }

  .intro__name {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .intro__title {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .intro__text {
    font-size: 16px;
  }

  .contacts-items ul li a span {
    font-size: 15px;
  }
}